{% extends 'layout.html' %}

{% block header %}
  <h2>{% block title %}About me{% endblock title %}</h2>
{% endblock header %}

{% block content %}
  <div id="aboutContainer">
    <p>
      I have nothing to put here for now I want pictures and stuff.
    </p>
    <p>
      Dekiai no kanjou de kyou mo ikite mita
      Doushiyou mo nai kimochi o nagamete mita
      Kutsuzoko fumu ha kyou dake no iro
      Nadeta kaze asu wa dokoka de katachi o kaete
      Ame ni furarete kimi omoidasu
      Wakaranai koto wakaranai mama de
      Ame ni furarete ame to odoru no yo
      Sunadokei no kawari ni watashi o mitete
      Nantonaku nomikonde ita
      Kentou tsukanai koto wa
      Mou isso
      Sono mama demo ii no
      Jitto mitsumeru watashi dake no taisetsu na koto
      Onaji hi wa nai shi
      Mi o makasete
      Sakasama ni mieru sekai
      Kore ga hontou no sekai?
      Docchi ga docchi tte docchi mo yokute
      Futashika na koto o aishite miru
      Tada ima wa
      Tada ima o
      [thanks for visiting animesonglyrcs.com]
      Ame ni furarete kimi omoidasu
      Wakaranai koto wakaranai mama de
      Ame ni furarete ame to odoru no yo
      Sunadokei no kawari ni watashi o mitete

      Ame ni furarete kimi omoidasu
      Wakaranai koto wakaranai mama de
      Ame ni furarete ame to odoru no yo
      Sunadokei no kawari ni watashi o mitete

    </p>
  </div>
{% endblock content %}