{% extends 'layout.html' %}

{% block header %}
  <h2>{% block title %}Home{% endblock title %}</h2>
{% endblock header %}

{% block content %}
  <div id="homeContainerA">
    <p>
      This was done by me for my SP.
    </p>
      <p>
      These are just random stuff. And here is my Introduction.
    </p>
  </div>
  <div id="homeContainerB">
    <p>
      Communication is vital for social beings, as this is the basis for day-to-day activities. 
      This not only signifies that individuals belong to a particular group but also provides social utilities that ensure the group’s survival. 
      Through communication, individuals learn to understand, respect, and empathize with one another, and being deprived of such interaction leads to a breakdown of the human experience. 
      However, according to the Philippine Statistics Authority (2020), in 2020, there are an estimated 1,784,690 individuals who have difficulty hearing. 
      In order for them to communicate effectively, they have learned how to use sign language from an early age. 
      These individuals are compelled to learn FSL from specialized schools or from local deaf communities so they can achieve some semblance of a normal life.
    </p>

    <p>Maybe I'll add some photos later on. Onto About and Camera</p>
  </div>
{% endblock content %}